    <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur temporibus impedit, dignissimos voluptas quaerat vero ducimus. Tempora numquam perspiciatis sit atque provident explicabo voluptas doloribus deserunt! Quaerat, harum voluptates.</p>


    <h1>Footer</h1>